.Content{
    background-color: var(--main);

    flex: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 17px;
}
.Content__hero{
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    font-family: var(--font-main);
}
.hero__h{
    color: var(--text);
    font-weight: 600;
    font-size: 3rem;
}
.hero__p{
    color: var(--text-sec);
    font-weight: 400;
    font-size: 1.5rem;
}