.FilesList{
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 0;
    min-height: 200px;
}

.FilesList__h{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1.5rem;
}
.FilesList__list{
    display: flex;
    flex-direction: column;
    gap: 1px;

    width: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    border-radius: 12px;
    padding: 10px 10px  10px 10px;

    background-color: var(--bg);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);
}