.hidden{
    display: none
}

.editMenu{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    z-index: 99999;
    right: -120px;
    top: 0px;
    
    width: 130px;

    background-color: var(--bg);

    border-radius: 8px;

    padding: 10px;

    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);

}
.editMenu button{
    outline: none;
    border: none;
    background-color: transparent;

    display: flex;
    justify-content: start;

    padding: 5px;
}
.editMenu button:hover{
    background-color: var(--main);
    cursor: pointer;
}