.button{
    border: none;
    outline: none;

    padding: 8px;
    background-color: var(--primary);
    border-radius: 18px;

    font-family: var(--font-main);
    font-weight: 400;
    color: var(--text-op);
    font-size: 1.2rem;

    transition: 0.5s ease all;
}

.button:hover{
    background-color: var(--primary-hover);
    cursor: pointer;
}